In [ ]:
#Answer 1)
'''A database is a organized collection of data or a type of data data store based on the use of a database management 
system, the software that interacts with end users, applications, and the database itself to capture and analyze
the data.

SQL databases are relational, NoSQL databases are non-relational.
SQL databases use structured query language(SQL) and have a predefined schema. NoSQL databases have dynamic schemas
for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents
or JSON.'''

In [ ]:
#Answer 2)
'''Data definition or description language is a syntax for creating and modifying database objects such as tables, 
indices, and users. DDL statements are similar to computer programming language for defining data structures,
especially database schemas.

CREATE TABLE command creates a new table in the database.

CREATE TABLE stud_info(name varchar(20), roll_no int, marks float);

ALTER TABLE command adds, deletes, or modifies columns in a table.

ALTER TABLE stud_info ADD address varchar(30);

DROP TABLE command deletes a table in the database.

DROP TABLE stud_info;

TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

TRUNCATE TABLE stud_info;'''

In [ ]:
#Answer 3)
'''A data manipulation language(DML) is a computer programming language used for adding, deleting, and modifying
data in a database. A DML is often a sublanguage of a broader database language such as SQL, with the DML 
comprising some of the operators in the language.

INSERT statement used to insert data into the columns of the database.

INSERT INTO stud_info VALUES ("Raj", 23, 85.78);

UPDATE statement is used to update of modify the existing data in database tables.

UPDATE stud_info SET roll_no = 39 where name = "Raj";

DELETE statement is used to remove single or multiple existing records from the database tables.

DELETE FROM stud_info where roll_no = 39;'''

In [ ]:
#Answer 4)
'''Data query language(DQL) statements are used for performing queries on the data within schema objects. The purpose
of the DQL command is to get some schema relation based on the query passed to it. DQL is a component of SQL 
statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. 
This command allows getting the data out of the database to perform operations with it.

SELECT name FROM stud_info WHERE roll_no = 39;'''

In [ ]:
#Answer 5)
'''A primary key is used to ensure that data in the specific column is unique.
A foreign key is a column or group of columns in a relational database table that provides a link between data in
two tables. It is a column(s) that that references a column (most often the primary key) of another table.'''

In [ ]:
#Answer 6)
'''import mysql.connector

mydb = mysql.connector.connect(host = "localhost", username = "root", password = "pass")

mycursor = mydb.cursor()

The MySQLCursor class instantiates objects that can execute opearations such as SQL statements. Cursor objects 
interacts with the MySQL server using a MySQLConnection object.

MySQLCursorexecute method executes the given database opration.'''

In [ ]:
#Answer 7)
'''The order of execution of SQL Query optimizes the query, reduces the amount of data to be processed, and affects
the performance of the Query processing significantly. The order makes the SQL engine process the queries faster,
and efficiently, and obtains optimized query results.

1)First, the table on which the DML operation is performed has to be processed. So, the FROM clause evaluated first in
an SQL Query. If the query contains JOIN clauses, tables are combined by merging rows involved, before FROM clause.
So, JOIN predates FROM in statements with JOIN. Now table is aquired before any filter is done. 

2)WHERE: After the table data on which other operations take place is processed by JOIN and FROM clause, WHERE clause
is evaluated. WHERE clause filters the rows based on conditions from the table evaluated by the FROM clause. This 
WHERE clause discards rows that don't satisfy the conditions, thus reducing the rows of data that need to be processed
further in other clauses.

3)GROUP BY: If the query has the GROUP BY clause, it is executed next. Here, the data is grouped based on the common
value in the column specified in the GROUP BY clause. This reduces the number of rows further equal to no of distinct
values in the GROUP BY column. This helps to calculate aggregate functions.

4)HAVING: If the query had a GROUP BY clause, the HAVING clause is evaluated immediately after GROUP BY. HAVING clause
is not compulsory for GROUP BY. Similar the WHERE operations, this clause also filters the table group processed before
by the GROUP BY clause. This HAVING also discards the rows that don't satisfy the conditions, thus reducing the rows of
data that need to be processed in other clauses.

5)SELECT: The SELECT is executed next after GROUP BY and HAVING. It computes expressions (arithmetic, aggregate, etc)
and aliases given in the SELECT clause. The computation is now performed on the smallest dataset after much filtering
and grouping operations done by previous clauses.

6)DISTINCT: The DISTINCT clause is executed after evaluating expressions, and alias references in the previous step.
It filters any duplicate rows and returns only unique rows.

7)ORDER BY: After executing all the above clauses, the data to be displayed or processed is computed. Now ORDER BY is
executed to sort it based on particular column(s) either in ascending or descending order. It is left associative
, that is it is sorted based on the first specified column and then by the second and so on.

8)LIMIT/OFFSET: At last, after the order of data to be processed is evaluated, LIMIT and OFFSET clauses are evaluated
to display only the rows that fall within the LIMIT. So, it is generally not recommended to LIMIT only certain rows
from many rows evaluated before, since it is not efficient and waste of computation.'''