In [1]:
#22 feb ass que  Pandas basic
import pandas as pd

df = pd.read_csv("services.csv")

In [2]:
#Ans 1
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Ans 2
lis = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(pd.Series(lis))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
#Ans 3
import csv

fields = ['Name', 'Age', 'Gender']
rows = [['Alice', 25, 'Female'], ['Bob', 30, 'Male'], ['Claire', 27, 'Female']]

with open("22_Feb_AssData.csv", "w") as csvfile:
    
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(rows)
    
df = pd.read_csv("22_Feb_AssData.csv")

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#Answer 4)

'''DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. We can think of it like a spreadsheet or SQL table, or dict of Series objects.'''

'''Pandas Series is one-dimentional labeled array whose object size cannot be changed. It can be considered as a primary building block for a DataFrame, making up its rows and columns.'''

'''Series is one-dimensional and DataFrame is two-diemensional. Series elements must be of same type DataFrame elements can have 
different data types. Once created, the size of a Series object cannot be changed whereas elements can be dropped or added in
an existing DataFrame.'''

df = pd.read_csv("services.csv")

print(type(df))

print(type(df['id']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

Answer 5)

1)'head()' and 'tail()': 
These functions allow you to quickly inspect the first or last few rows of your DataFrame, respectively. They are useful for understanding the structure and content of your data.

df.head()
df.tail()

2)'info()':
Provides a concise summary of the DataFrame including the datatypes of each column and the number of non-null values.

df.info()

3)'describe()':
Generates descriptive statistics of numerical columns in the DataFrame, such as count, mean, standard deviation, min, max, etc.

df.describe()

4)'shape':
Returns a tuple representing the dimensionality of the DataFrame(number of rows, number columns)

df.shape

5)'columns':
Returns the column labels of the DataFrame.

df.columns

6)'drop()':
Allows you to drop specified rows or columns from the DataFrame.

df.drop(columns = ['column_name'])

7)'fillna()':
Fill missing values in the DataFrame with specified values.

df.fillna(0)

8)'groupby()':
Used to split the DataFrame into groups based on some criteria, and then apply a function to each group.

df.groupby('column_name').mean()

9)'sort_values()':
Sort the DataFrame by the values of one or more columns.

df.sort_values(by = 'column_name', ascending = False)

10)'merge()':
combines two DataFrames absed on a common column.

merged_df = pd.merge(df1, df2, on = 'common_column')

Answer 6)

In Pandas, a Series is mutable, while a DataFrame and a Panel are immutable.

In [13]:
series_1 = pd.Series([11, 12, 13, 14, 15])
series_2 = pd.Series(["Prasad", "Shriraj", "Ravi", "Sachin", "Sanchit"])
series_3 = pd.Series([100, 100, 100, 100, 100])
series_4 = pd.Series(["Pune", "Wai", "Mumbai", "Banglore", "Pune"])

data_frame = {"Roll No":series_1, "Names":series_2, "Marks":series_3, "Address":series_4}

df = pd.DataFrame(data_frame)

df

   Roll No    Names  Marks   Address
0       11   Prasad    100      Pune
1       12  Shriraj    100       Wai
2       13     Ravi    100    Mumbai
3       14   Sachin    100  Banglore
4       15  Sanchit    100      Pune